<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
       {% load static %}
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
           </head>
    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        svecw@email.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +012-345-6789
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->     
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" style="padding-top: 7px;padding-bottom: 7px">
                        <div class="navbar-nav mr-auto">
                            <a href="{% url 'home'%}" class="nav-item nav-link active">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'paintings'%}" class="dropdown-item">Paintings</a>
                                    <a href="{% url 'kondapalli'%}" class="dropdown-item">Kondapalli Toys</a>
                                    <a href="{% url 'bottleArts'%}" class="dropdown-item">Bottle Paintings</a>
                                </div>
                            </div>
                            <a href="{% url 'wishlist'%}" class="nav-item nav-link">Wishlist</a>
                            <a href="{% url 'cart'%}" class="nav-item nav-link">cart</a>
                            <a href="{% url 'checkout'%}" class="nav-item nav-link">Checkout</a>
                            <a href="{% url 'orders'%}" class="nav-item nav-link">My-Orders</a>
                            <a href="{% url 'Edit'%}" class="nav-item nav-link">Edit-Profile</a>
                            <a href="{% url 'requestProduct'%}" class="nav-item nav-link">RequestProduct</a>
                            

                            
                        </div>
                        <div class="navbar-nav ml-auto">
                            <a href="{% url 'logout'%}" style="padding-left: 200px" class="nav-item nav-link">Logout</a>
                               
                                
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <br>
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-6">
                        <div class="contact-info" >
                            <h2>Our Office</h2>
                            <h3><i class="fa fa-map-marker"></i>Bhimavaram</h3>
                            <h3><i class="fa fa-envelope"></i>svecw@gmail.com</h3>
                            <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-info" >
                            <h2>Our Store</h2>
                            <h3><i class="fa fa-map-marker"></i>Hyderabad</h3>
                            <h3><i class="fa fa-envelope"></i>bvrit@gmail.com</h3>
                            <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
                        </div>
                    </div>
                    </div>
                    
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d956.0416472308946!2d81.52155082915115!3d16.568120284710112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37cd4eb220051d%3A0xea3d7b50d0a1458!2sShri%20Vishnu%20Engineering%20College%20for%20Women%20Autonomous!5e0!3m2!1sen!2sin!4v1623938585605!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Contact End -->
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
