    {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
    
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
           </head>
    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        svecw@email.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +012-345-6789
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->     
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" style="padding-top: 7px;padding-bottom: 7px">
                        <div class="navbar-nav mr-auto" >
                            <a href="{% url 'home'%}" class="nav-item nav-link active">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'paintings'%}" class="dropdown-item">Paintings</a>
                                    <a href="{% url 'kondapalli'%}" class="dropdown-item">Toys</a>
                                    <a href="{% url 'bottleArts'%}" class="dropdown-item">Bottle Arts</a>
                                </div>
                            </div>
                            {% if ad is False %}
                            <a href="{% url 'wishlist'%}" class="nav-item nav-link">Wishlist</a>
                            <a href="{% url 'cart'%}" class="nav-item nav-link">cart</a>
                            <a href="{% url 'checkout'%}" class="nav-item nav-link">Checkout</a>
                            <a href="{% url 'Edit'%}" class="nav-item nav-link">Edit-Profile</a>
                            <a href="{% url 'contact'%}" class="nav-item nav-link">Contact</a>
                            <a href="{% url 'orders'%}" class="nav-item nav-link">My-Orders</a>
                            <a href="{% url 'requestProduct'%}" class="nav-item nav-link">RequestProduct</a>
                            {%endif%}

                            {% if ad is True %}
                                <a href="{% url 'image_upload'%}" class="nav-item nav-link">Add-Product</a>
                                <a href="{% url 'orders'%}" class="nav-item nav-link">Orders</a>
                                <a href="{% url 'requests'%}" class="nav-item nav-link">Requests</a>
                            {%endif%}
                            
                        </div>
                        <div class="navbar-nav ml-auto">
                            <a href="{% url 'logout'%}" style="padding-left: 200px" class="nav-item nav-link">Logout</a>
                               
                                
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <br>
        
        <!-- Nav Bar End -->      
        
        
        
        
        <!-- Product List Start -->
        <h3>PRODUCTS LIST</h3>
        <div class="product-view">
            <div class="container-fluid">
                <div class="row"> 

                {% for hotel in Images %}
                
                <div class="col-md-3">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{hotel.Name}}</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="{{ hotel.Image.url }}" alt="Product Image" class="img-responsive" style="height:250px">
                                        </a>
                                        <div class="product-action">
                                            <a href="{% url 'cartAdd' hotel.id %}"><i class="fa fa-cart-plus"></i></a>

                                            <a href="{% url 'wishlistAdd' hotel.id %}"><i class="fa fa-heart"></i></a>
                                            <a href="{% url 'productDetail' hotel.id %}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>{{hotel.Price}}</span>/-</h3>
                                        <a class="btn" href="{% url 'cartAdd' hotel.id %}"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            </div>
    {% endfor %}                                                        
                            </div>
                        </div>

                    </div>  

            
        <!-- Product List End -->          
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/slick/slick.min.js' %}"></script>
        
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
