<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel_image</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form> 
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <!-- <title>E Store - eCommerce HTML Template</title> -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="lib/slick/slick.css" rel="stylesheet" type="text/css">
        <link href="lib/slick/slick-theme.css" rel="stylesheet" type="text/css">

        <!-- Template Stylesheet -->
        
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        svecw@email.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +012-345-6789
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->     
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" style="padding-top: 7px;padding-bottom: 7px">
                        <div class="navbar-nav mr-auto" >
                            <a href="{% url 'home'%}" class="nav-item nav-link active">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                                <div class="dropdown-menu">
                                    <a href="{% url 'paintings'%}" class="dropdown-item">Paintings</a>
                                    <a href="{% url 'kondapalli'%}" class="dropdown-item">Kondapalli Toys</a>
                                    <a href="{% url 'bottleArts'%}" class="dropdown-item">Bottle Paintings</a>
                                </div>
                            </div>
                            
                            <a href="{% url 'orders'%}" class="nav-item nav-link">Orders</a>
                            
                            <a href="{% url 'requests'%}" class="nav-item nav-link">Requests</a>
                            
                            

                            <div class="navbar-nav ml-auto">
                            <a href="{% url 'logout'%}" style="padding-left: 1000px" class="nav-item nav-link">Logout</a>
                               
                                
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        
        <!-- Breadcrumb End -->
        <br>
        <!-- Login Start -->
         {% if msg %}
                                    <div  style="padding-left: 300px;padding-right: 300px">
                                        <div class="alert alert-info" role="alert">{{msg}}<button type="button" class="close" data-dismiss="alert">x</button>
</div></div>
                                    {%endif%}
                                    <h3 style="text-align: center;font-size: 40px;color:  #FF6F61">ADD PRODUCT</h3><br>

        <div class="ProductForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 400px;padding-right: 200px"> 
                    <form action="{% url 'image_upload' %}" method = "post"  enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        {{error}}
        {% for error in ProductForm.errors %}
                                
                                <p style="color: red;">Enter Valid {{error}} <br> </p>
                                <br>
                            
                                {%endfor%}
        <button class="btn">Upload</button>
        <br>
        <br>

    </form> 
                   
                    </div>
                    
       
                </div>
                
                
            </div>
        </div>
            
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
